.breadcrumb {
  margin-bottom: 16px;

  li {
    display: inline;
  }

  li:after {
    content: ' / ';
    color: $box-border-color;
  }

  li:last-child:after {
    content: '';
  }

  .active {
    font-weight: bold;
  }
}
