.info {
  @include display-flex(flex);
  @include flex-flow(row nowrap);
  margin-bottom: 16px;

  dt {
    font-weight: bold;
  }

  dl {
    @include flex(1 0 auto);
    margin: 0 4px;
  }

  dl:first-child {
    margin-left: 0;
  }

  dl:last-child {
    margin-right: 0;
  }

  dl:last-child {
    @include flex(0 1 auto);
  }

  dd {
    @include border-radius(0.25em);
    background-color: $box-background-color;
    border: 1px solid $box-border-color;
    color: inherit;
    overflow: auto;
    padding: 8px;
    white-space: nowrap;
  }
}
