$base-background-color:         #ffffff;
$base-font-color:               #333333;

$link-font-color-hover:         #196fc4;
$link-font-color:               #4183c4;

$box-background-color:          #f7f7f7;
$box-border-color:              #d8d8d8;

$coverage-awful-color:          #c9533d;
$coverage-bad-color:            #c8a014;
$coverage-good-color:           #87b500;
$coverage-initial-color:        #999999;

$trend-decrease-color:          #c9533d;
$trend-increase-color:          #87b500;
$trend-initial-color:           #999999;
$trend-same-color:              #87b500;

$source-add-background-color:   #ddffdd;
$source-background-color-hover: #f6e8b5;
$source-del-background-color:   #ffdddd;
$source-info-badge-color:       #aaffaa;
$source-num-color:              #aaaaaa;
$source-warn-badge-color:       #ffaaaa;
